<form [formGroup]="filterForm">
  <div class="tui-row">
    <div class="tui-col_12">
      <h3 class="tui-form__header tui-form__header_margin-top_none">
        Мои траты
      </h3>
      <div class="tui-form__row tui-form__row_multi-fields">
        <div class="tui-form__multi-field">
          <tui-input formControlName="name">Название</tui-input>
        </div>
        <div class="tui-form__multi-field">
          <tui-input-date-range formControlName="date"
            >Дата траты</tui-input-date-range
          >
        </div>
      </div>
    </div>
  </div>
</form>

<div class="tui-space_top-10">
  <div *ngIf="transactionsLoader$ | async; else transactions">
    <div class="operation tui-space_bottom-1" *tuiRepeatTimes="let index of 10">
      <div class="operation-date tui-skeleton">
        Test
        <div class="operation-month tui-skeleton">Test</div>
      </div>
      <div class="operation-date tui-skeleton tui-skeleton_rounded">Test</div>
      <div class="operation-title tui-skeleton">Test</div>
      <div class="operation-info tui-skeleton">Test</div>
      <div class="operation-remove tui-skeleton">Test</div>
    </div>
  </div>

  <ng-template #transactions>
    <div
      class="operation tui-space_bottom-1"
      *ngFor="let transaction of transactions$ | async"
    >
      <div class="operation-date">
        {{ transaction.date | date : "dd" }}
        <div class="operation-month">
          {{ transaction.date | date : "MMMM" : "" : "ru" }}
        </div>
      </div>
      <div class="operation-pic">
        <tui-svg class="operation-icon" src="tuiIconDollarSignLarge"></tui-svg>
      </div>
      <div class="operation-title">
        <p class="operation-text">{{ transaction.name }}</p>
        <p class="operation-category">{{ transaction.category }}</p>
      </div>
      <div
        class="operation-info"
        [ngClass]="{
          'operation-status_success': transaction.sum > 0,
          'operation-status_error': transaction.sum < 0
        }"
      >
        <tui-money
          class="operation-amount"
          [value]="transaction.sum"
        ></tui-money>
      </div>
      <button
        class="operation-remove"
        tuiIconButton
        appearance="icon"
        icon="tuiIconTrash2Large"
        title="Удалить операцию"
        shape="rounded"
        automation-id="delete-transaction-button"
        size="s"
      ></button>
    </div>

    <tui-pagination
      class="tui-space_top-5"
      [length]="10"
      [index]="0"
      (indexChange)="goToPage($event)"
    ></tui-pagination>
  </ng-template>
</div>
