<div class="account_section">
    <h4 class="tui-text_h3">Восстановить пароль</h4>
    <form [formGroup]="authForm" class="tui-space_top-12">
        <div class="tui-form__row">
            <tui-input formControlName="login" tuiTextfieldCleaner="true">
                Логин<span class="tui-required"></span>
            </tui-input>
            <tui-error formControlName="login"></tui-error>
        </div>
        <div class="tui-form__row">
            <button class="max-width" type="submit" tuiButton [disabled]="authForm.invalid" 
             automation-id="save-button" (click)="onSubmit()">
                Отправить на почту новый пароль
            </button>
        </div>
        <br>
        <a tuiLink routerLink="/auth" class="tui-space_top-2">Вернуться на страницу авторизации</a>
    </form>
</div>
