<div class="loader" *ngIf="storyLoader$ | async">
  <tui-loader
    [showLoader]="(storyLoader$ | async) || false"
    size="xxl"
    [overlay]="true"
  ></tui-loader>
</div>
<div *tuiLet="story$ | async as story" class="story">
  <tui-progress-segmented
    [max]="story?.count || 0"
    [value]="chapterIndex + 1"
    class="story_progress"
    size="s"
  ></tui-progress-segmented>
  <div *ngFor="let chapter of story?.chapter; let i = index">
    <div
      *ngIf="i === chapterIndex"
      [ngStyle]="{ background: convertImg(chapter?.img || '') }"
      class="story_chapter"
    >
      <div class="manage_chapter">
        <div class="manage_chapter-left" (click)="prev()"></div>
        <div
          class="manage_chapter-right"
          (click)="next(story?.count || 0)"
        ></div>
      </div>
      <div class="story_chapter_text">
        <div class="story_chapter_text_body">
          <p class="tui-text_h3 tui-space_bottom-4">{{ chapter.title }}</p>
          <p class="tui-text_body-m-2">{{ chapter.text }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
