<app-tetriary-menu title="Истории">
  <button
    tuiButton
    type="button"
    size="s"
    [disabled]="!(isChangeEntity$ | async) || false"
    (click)="saveNewWeight()"
    [showLoader]="(loaderButton$ | async) || false"
  >
    Сохранить изменения
  </button>
</app-tetriary-menu>

<form [formGroup]="storyForm" class="tui-space_bottom-10">
  <tui-input
    formControlName="title"
    class="tui-space_bottom-3"
    tuiTextfieldIconLeft="tuiIconSearch"
    [tuiTextfieldCleaner]="true"
    >Поиск по историям</tui-input
  >
  <div tuiGroup class="group" [collapsed]="true">
    <tui-radio-block
      *ngFor="let category of categories"
      contentAlign="right"
      formControlName="category"
      [hideRadio]="true"
      [item]="category.id"
      size="s"
      class="tui-group__auto-width-item"
    >
      {{ category.name }}
    </tui-radio-block>
  </div>
</form>

<tui-loader
  [showLoader]="true"
  *ngIf="loader$ | async; else storiesInfo"
  size="xxl"
></tui-loader>

<ng-template #storiesInfo>
  <div
    cdkDropList
    [cdkDropListData]="stories"
    (cdkDropListDropped)="onDragDropStories($event)"
  >
    <app-story-card
      *ngFor="let story of stories$ | async; let index = index"
      [story]="story"
      cdkDrag
      (onDeleteStory)="deleteStory($event)"
      (onEditStory)="editStory($event)"
      (onOpenStory)="openStory($event)"
      (onActiveStory)="activeStory($event)"
    ></app-story-card>
    <app-stub *ngIf="isShowStub$ | async"></app-stub>
  </div>
  <button tuiButton class="max-width tui-space_top-10" (click)="createStory()">Добавить новую историю</button>
</ng-template>
